<html>
<head>
  <link rel="stylesheet" href="css/main.css"/>
  <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
  <script src="js/hello.js"></script>
</head>
<body>
  <img src="images/cng.png" height="48" width="48"/>
  Sample Go Web Application!!
      <div>
        <form action="/login" method="post">
          <p class="Username"><input type="text" name="username"></p>
          <p class="Password"><input type="password" name="password"></p>
          <input type="submit" value="登陆">
      </form>
      </div>
</body>
</html>